<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdd.springdemo.mapper.UserMapper">
    <insert id="save" parameterType="User">
        insert into t_user values(#{id},#{username},#{password},#{gender},#{birthday})
    </insert>
    <select id="getAllUser" resultType="User">
        select * from t_user
    </select>
</mapper>